img{
    width: 14px;
}

.sidebar{
    padding-left: 25px;
    background: #fff;
    height: 100vh;
    width: 15%;
    padding-top: 80px;
    position: fixed;
    top: 0;
}

.sidebar .links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    width: fit-content;
}

.sidebar img{
    width: 20px;
}

hr{
    width: 80%;
}

.subscription-list .links img{
    border-radius: 50%;
}
.subscription-list h3{
    margin: 1rem auto;
    font-size: 1rem;
}

.small-sidebar{
    width: 5%;
}

.small-sidebar p, .small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 30%;
    margin-bottom: 1rem;
}